% % --------------- %
% % ---  JOB    --- %
% % --------------- %

Job: "minimal_example"
  Label: "Toy example"
  CmeLabel: "X TeV"
  POI: "Signal_norm"
  ReadFrom: NTUP
  NtuplePaths: "ntuples"
  NtupleName: "nominal_Loose"
  MCweight: "weight"
  LumiLabel: "X fb^{-1}"
  Lumi: 1.0
  DebugLevel: 3
  CorrelationThreshold: 0.01
  SystLarge: 0.99
  SystPruningShape: 0.005
  SystPruningNorm: 0.005
  MCstatThreshold: 0.01
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  RankingPlot: "all"
  SplitHistoFiles: TRUE
  RankingMaxNP: 20
  KeepPruning: TRUE
  HistoChecks: NOCRASH
  ImageFormat: pdf
  GetChi2: "STAT"
  PlotOptions: "CHI2, YIELDS"
  UseGammaPulls: TRUE


% % --------------- %
% % ---  FIT    --- %
% % --------------- %

Fit: "SPLUSB_CRSR_Asimov"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  UseMinos: "Signal_norm"
  %FitBlind: TRUE
  SetRandomInitialNPval: 0.1
  %StatOnlyFit: TRUE


% % --------------- %
% % --- REGIONS --- %
% % --------------- %

Region: "Signal_region"
  Type: SIGNAL
  Variable: "jet_pt",6,200,800
  VariableTitle: "jet p_T [GeV]"
  Selection: "(jet_pt>200 && jet_pt<800)"
  Label: "Signal region"


% % --------------- %
% % --- SAMPLES --- %
% % --------------- %

%%% ------- DATA

Sample: data
  Type: DATA
  Title: "Pseudodata"
  NtupleName: "pseudodata"
  NtupleFiles: "data"

%%% ------- NOMINAL SAMPLES

Sample: "Background"
  Type: BACKGROUND
  Title: "Background"
  FillColor: 857
  LineColor: 857
  NtupleName: "background"
  NtupleFile: "prediction"

Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 418
  LineColor: 418
  NtupleName: "signal"
  NtupleFile: "prediction"

% % --------------- %
% % - NORMFACTORS - %
% % --------------- %

NormFactor: "Signal_norm"
  Title: "Signal norm"
  Nominal: 1
  Min: 0
  Max: 2
  Samples: Signal

% % --------------- %
% % - SYSTEMATICS - %
% % --------------- %

Systematic: "Luminosity"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.02
  OverallDown: -0.02
  Samples: all
